* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(44 43 43), rgb(63 63 63), rgb(68 68 68));
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
    /* scroll-padding: 135px; */
}

.nav .anonyms {
    color: rgb(255 255 255);
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    margin-right: 210px;
}

.nav .anonyms::first-letter {
    color: rgb(224, 138, 7);
    font-size: 25px;
}

.hackerbg {
    width: 300px;
    height: 300px;
    position: relative;
    left: 0;
    border: 2px solid black;
    border-radius: 300px;
}

.nav ul {
    cursor: pointer;
    color: white;
    font-family: sans-serif;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 65px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;

}

.home {
    text-decoration: underline;
    color: rgb(255, 154, 3);
}

.about {
    color: white;
}

.project {
    color: white;
}

.contact {
    color: white;
}

div ul a {
    text-decoration: none;
}

.nav {
    animation: slide_up 1s ease 0.5s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(44 43 43), rgb(63 63 63), rgb(68 68 68));

}

.home:hover {
    /* background: linear-gradient( to right, rgb(220, 173, 234),rgb(85, 83, 85));
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: white;
}

.about:hover {
    /* background: linear-gradient( to right, rgb(220, 173, 234),rgb(85, 83, 85));
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(255, 154, 3);
}

.project:hover {
    /* background: linear-gradient( to right, rgb(220, 173, 234),rgb(85, 83, 85));
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(255, 154, 3);
}

.contact:hover {
    /* background: linear-gradient( to right, rgb(220, 173, 234),rgb(85, 83, 85));
    background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: rgb(255, 184, 3);
}

.container {
    animation: slide_up 1s ease 0.5s;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 170px;
    gap: 100px;
}

.logo {
    display: flex;
    justify-content: end;
    gap: 20px;
    position: relative;
    left: -50px;
    top: 30px;
}

.written {
    color: white;
    position: relative;
    /* top: -200px;
    left: 170px; */
    font-family: sans-serif;
    animation: slide_up 1s ease 0.5s;
}

.myself {
    font-size: 40px;
    font-weight: bold;
    /* display: inline; */
}

.web {
    color: rgb(255, 153, 0);
    font-family: sans-serif;
    font-size: 25px;
    line-height: 2;
    font-weight: bold;
}

.merabaareme {
    color: rgb(198, 196, 196);
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.btn {
    border: 1px solid rgb(255, 153, 0);
    height: 45px;
    width: 125px;
    border-radius: 50px;
    color: black;
    background: linear-gradient(to right, rgb(224, 138, 7), rgb(201, 210, 79));
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;

}

.btn2 {
    position: relative;
    left: 30px;
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgb(27, 27, 27), rgb(91, 88, 90));
    color: azure;
    transition: all 1s ease-in-out;
}

.logo {
    cursor: pointer;
    height: 20px;
    width: 20px;
    position: relative;
    left: 140px;
    top: 70px;
    display: flex;
    gap: 25px;
}

@keyframes slide_up {
    0% {
        transform: translateY(250px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100px;
    }
}

/* @keyframes slide_x {
    0%{
        transform: translatex(250px);
    }
    100%{
        transform: translatex(0);
    }
} */
.logo a img {
    height: 20px;
    width: 20px;
}

.logo a img:hover {
    animation: logo 1s ease;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes logo {
    0% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}

.page2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 520px;
    padding-bottom: 100px;
    gap: 100px;
}

div img {
    height: 400px;
}

.text {
    /* color: rgb(255, 255, 255); */
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.h1 {
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.me {
    color: rgb(255, 153, 0);
}

.skill {
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    line-height: 2;
}

.words {
    color: rgb(183, 183, 183);
    font-size: 17px;
    font-family: sans-serif;
}

.btn3 {
    position: relative;
    top: 35px;
}

.page3 {
    position: relative;
    top: 700px;
}

.prjt {
    color: white;
    text-align: center;

}

.portfolio {
    font-family: sans-serif;
    color: rgb(164, 160, 160);
}

.lp {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.5;
}
.tsk1{
    margin-top: 40px;
}
.lists{
    color: rgb(183, 183, 183);
    text-align: center;
    list-style-type:circle;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top: 20px;
    font-size: 18px;
} 
.click{
    font-size: 14px;
}
.netflix{
    height: 20px;
}
.btn22{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}


.text22 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 50px;
}

.page4 {
    position: relative;
    top: 1000px;
    padding-bottom: 50%;
}

.contactme {
    color: white;
    position: relative;
    top: 60px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.contactme1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
}

.a {
    color: rgb(255, 153, 0);
}

.contactme2 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 2;
}

.www {
    font-size: 16px;
    color: rgb(183, 183, 183);
    font-family: sans-serif;
    line-height: 2;
    position: relative;
    /* padding-bottom: 50%; */
}

.text1 {
    border: 1px solid gray;
    height: 40px;
    width: 450px;
    margin: 3px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.text2 {
    border: 1px solid gray;
    height: 200px;
    width: 450px;
    margin: 3px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.lastbtn {
    margin: 3px;
    position: relative;
    top: 10px;
    width: 150px;
}
.height{
    font-size: 16px;
    font-family: sans-serif;
}
.end{
    color: white;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: sans-serif;
    position: relative;
    top: 600px;
    text-align: center;
}
